.navbar .nav-link {
  color: #bbb;
  font-weight: 500;
  transition: 0.3s;
}

.navbar .nav-link:hover {
  color: #fff;
}

.navbar .nav-link.active {
  color: #00d1b2;
  font-weight: 600;
  border-bottom: 2px solid #00d1b2;
}